<p id="notice"><%= notice %></p>

<h1>Frank Zhao' workplace</h1>
    <% @blogs.each do |blog| %>
    <div class="link row clearfix">
          <h2>
      
        <%= link_to blog.title, blog %> <br> Submitted
        <%== blog.created_at.strftime("%B, %d, %Y") %>
        <% if blog.user == current_user %>
          <%= link_to 'Edit', edit_blog_path(blog) %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </h1>
        </div>  
    <% end %>

<br>
